{% load admin_tags %}
<div class="filter filters-list visible-filter">
	<div class="dropdown">
		<a class="" href="#" data-toggle="dropdown">
			<span class="category">Filters:</span>
			<span class="selected-value">All</span>
			<span class="snf-angle-down arrow"></span>
		</a>
		<ul class="dropdown-menu choices">
			<li class="active reset" data-filter-name="all-filters"><a href="#"><span class="snf-checkbox-unchecked"></span><span class="snf-checkbox-checked"></span>All</a></li>
			<li class="divider"></li>
			{% for filter in filter_dict %}
			<li data-filter-name="{{ filter.name }}"><a href="#"><span class="snf-checkbox-unchecked"></span><span class="snf-checkbox-checked"></span>{{ filter.label }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>


	